body {
  margin: 0;
  color:white;
  text-align: center;
}

.btn {
  color: #E06C75;
  border-color: #E06C75;
}

.btn:hover {
  background-color: #e98890;
  border-color: #E06C75;
}

a {
  margin: 4px;
  color: #E06C75;
}